<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Ed Irvine">
  <meta name="description" content="A mock login page for CPNT262-A4">

  <title>Login Page</title>

</head>

<body>
  
  <header>
    <%- include('../partials/header.ejs') %>
  </header>

  <nav>
    <%- include('../partials/nav.ejs') %>
  </nav>
  
  <main>
    
  </main>

  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>

</body>

</html>